/* google font */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap'); */


*{
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 900;
}
h3{
    font-size: 25px;
}
.d-flex{
    display: flex;
}
.col-6{
    flex-basis: 50%;
}
.text-primary{
    color: rgb(250, 217, 28);
}
a{
    text-decoration: none;
}
.btn{
    padding: 13px 40px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    border-radius: 5px;
    background-image: linear-gradient(#ff9999 , #ff1a1a)
}
/* banner part start here */
.banner-wraper{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 130px;
}
.banner-wraper div{
    margin-left: 6%;
    margin-right: 4%;
}
.discription{
    margin-bottom: 30px;
}
.banner-wraper div img{
    width: 100%;
    margin-top: 20px;
}

/* banner part end here */


/* dream part start here */
.dream-wraper{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-margin-1{
    margin-left: 5%;
    /* margin-right: 5%; */
}
.dream-margin-2{
    margin-right: 7%;
}
.dream-wraper div img{
    width: 90%;
}

/* dream part end here */